* {
    margin: 0;
    padding: 1px;
    /* font-family: sans-serif; */
}

/* CABEÇALHO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    height: 50px;
    background-color: mediumvioletred;
}

.icone {
    width: 16px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
}

.menus {
    display: flex;
    justify-content: space-between;
}

.submenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h3 {
    padding-left: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* gap é opcional pro exercício, eu só quis colocar pra separar um pouco os elementos */
    gap: 8px;
}

.divCards {
    box-shadow: 1px 1px 5px black;
    width: 200px;
    text-align: center;
}

img {
    width: 200px;

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    /* coloca na horizontal os containers da main */
    display: flex;
    gap: 16px;
    flex-grow: 3;
}

nav {
    flex-basis: 200px;
    /* border-right: 1px solid black; */
}

nav>li {
    flex-direction: row;
}

section {
    flex-grow: 3;
}

/* RODAPÉ */
footer {
    flex-basis: 60px;
    background-color: mediumvioletred;
    text-align: center;
}